@import "~bootstrap/scss/bootstrap";

body {
  margin-top: 90px;
}

btn.close {
  float: right;
}
.navbar-custom {
  background: #0c7b86;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-custom {
  a {
  color: #fff;
  }
}

.ico {
  display: block;
  width: 50px;
}

.navbar-brand {
  img {
    height: 50px;
  }
}

 .boxHistory {
  min-height: 246px;
 }

 .navbar {
  background-color: #fde9eb;
}

.page-item {
  float: left;
}