@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightpink;
  margin-top: 80px;
}

.navbar-custom {
  background: #0c7b86;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-custom {
  a {
  color: #fff;
  }
}

.ico {
  display: block;
  width: 50px;
}
a.navbar-brand {
  background-image: url('../img/plane.jpg');
  background-size: 80px;
  background-repeat: no-repeat;
}

body {
  background-color: lightblue;
}