@import "~bootstrap/scss/bootstrap";
body {
  margin-top: 80px;
}

btn.close {
  float: right;
}
.navbar-custom {
  background: #0c7b86;
}

.navbar-toggle .icon-bar {
  background: #fff;
}

.navbar-custom {
  a {
  color: #fff;
  }
}

.ico {
  display: block;
  width: 50px;
}
a.navbar-brand {
  background-image: url('src/img/plane.jpg');
  background-size: 80px;
  background-repeat: no-repeat;
}
